@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  width: 100%;
  padding-top: 30px;
  gap: 30px 20px;
}

.card_buttons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 20px;
}

.modal {
  display:flex;
  flex-direction: column;
  gap : 20px;
}

.card_title{
  margin-right: 20px;
  max-width: 80%;
  white-space: normal;
}
